canvas {
  //background: rgba(0,255,155,0.25);
}

.container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: table;
  margin-bottom: 20px;
}

.container h3 {
  font-weight: 300;
}

.container:before, .container:after {
  clear: both;
}

button {
  padding: 8px;
  outline: 0;
  border: none;
  font-size: 17px;
  font-weight: 300;
  font-family: Helvetica;
  cursor: pointer;
  width: 130px;
  color: #333;
  border-radius: 3px 3px;
  background: rgba(252, 250, 80, 0.78);
  color: #FF5E95;
  border-bottom: 2px solid rgba(234, 205, 4, 1);
}

#overlay {
  background: transparent;
  position: absolute;
}